<app-header></app-header>

<app-side-menu [hideMenu]="true"></app-side-menu>

<div id="title" class="title">
  <div class="centering">
    <div class="centeringin clearfix">
      <app-breadcrumbs [category]="category" [isCategory]="true" [currentTitle]="category?.title"></app-breadcrumbs>
      <h1 class="pagetitle">{{category?.title}}</h1>
    </div>
  </div>
</div>
<div id="content" class="content">
  <div class="centering">
    <div class="centeringin clearfix">



      <div class="catalog clearfix" id="catalog">


        <div class="sidebar">


          <ul class="menu-sidebar clearfix" *ngIf="category?.childCategories?.length > 0">
            <li class="first" *ngFor="let subCat of category.childCategories">
              <a class="clearfix waves-effect" href="{{getSubCategoryLink(subCat)}}">
                <span class="imya">{{subCat.title}}</span>
              </a>
            </li>
          </ul>


          <form name="_form" class="smartfilter">
            <div class="around_filtren">
              <div class="filtren clearfix ajaxfilter ">
                <div class="title">
                  <a class="shhi" href="#">
                    <span class="show">Показать фильтр</span>
                    <span class="hide">Скрыть фильтр</span>
                  </a>
                </div>
                <div class="body">
                  <div class="clearfix">
                    <div class="lvl1" data-propid="1" data-propcode="BASE">
                      <a href="" class="showchild" (click)="toggleFilterBlock($event)">
                        Розничная цена
                        <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow-linear-down">
                          <svg viewBox="0 0 129 129" id="svg-arrow-linear-down" width="100%" height="100%">
                            <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"></path>
                          </svg>
                        </use>
                        </svg>
                      </a>
                      <div class="property number">
                        <span class="smartf-div inputs">
                          <input class="min-price min" type="text" name="arrFilter_P1_MIN" id="arrFilter_P1_MIN" [(ngModel)]="minFilteredPrice" (input)="applyFilter()" value="" size="9">
                          <span class="separator">—</span>
                          <input class="max-price max" type="text" name="arrFilter_P1_MAX" id="arrFilter_P1_MAX" [(ngModel)]="maxFilteredPrice" (input)="applyFilter()" value="" size="9">
                        </span>
                        <span class="smartf-div aroundslider">
                          <span class="smartf-div" style="clear: both;"></span>
                          <span class="smartf-div bx_ui_slider_track" id="drag_track_c4ca4238a0b923820dcc509a6f75849b">
                            <span class="smartf-div bx_ui_slider_pricebar_VD" style="left: 0; right: 0;" id="colorUnavailableActive_c4ca4238a0b923820dcc509a6f75849b"></span>
                            <span class="smartf-div bx_ui_slider_pricebar_VN" style="left: 0%; right: 0%;" id="colorAvailableInactive_c4ca4238a0b923820dcc509a6f75849b"></span>
                            <span class="smartf-div bx_ui_slider_pricebar_V" style="left: 0%; right: 0%;" id="colorAvailableActive_c4ca4238a0b923820dcc509a6f75849b"></span>
                            <span class="smartf-div bx_ui_slider_range" id="drag_tracker" style="left: 0;right: 0;" (change)="applyFilter()">
                              <a class="bx_ui_slider_handle left" style="left:0;" href="" id="left_slider" (click)="applyFilter()" (change)="applyFilter()"></a>
                              <a class="bx_ui_slider_handle right" style="right:0;" href="" id="right_slider" (click)="applyFilter()" (change)="applyFilter()"></a>
                            </span>
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="lvl1" data-propid="2" data-propcode="BRANDS">
                      <a href="#" class="showchild" (click)="toggleFilterBlock($event)">
                        Производитель
                        <svg class="svg-icon">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow-linear-down"></use>
                        </svg>
                      </a>
                      <div class="property standart">
                        <div class="lvl2" *ngFor="let f of factories let i = index">
                          <span class="smartf-div ">
                            <input type="checkbox" disabled id="factoryFilter_{{i}}" name="factoryFilter_{{i}}" value="Y" [(ngModel)]="f.selected" (change)="applyFilter()">
                            <label for="factoryFilter_{{i}}"  class="name">
                              <span class="val">{{f.title}}</span>
                            </label>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="lvl1" *ngFor="let option of optionsForFiltration let i = index">
                      <a href="" class="showchild" (click)="toggleFilterBlock($event)">
                        {{option.title}}
                        <svg class="svg-icon">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow-linear-down"></use>
                        </svg>
                      </a>
                      <div class="property standart">
                        <div class="lvl2" *ngFor="let value of option.values let j = index">
                          <span class="smartf-div ">
                            <input type="checkbox" id="optionFilter_{{i}}_{{j}}" name="optionFilter_{{i}}_{{j}}" value="Y" [(ngModel)]="value.selected" (change)="applyFilter()">
                            <label for="optionFilter_{{i}}_{{j}}" class="name">
                              <span class="val">{{value.value}}</span></label>
                          </span>
                        </div>
                    </div>
                    </div>
                </div>

            <!--<div class="buttons">-->
              <!--<button class="btn-primary filter-set waves-effect" type="button" id="set_filter" name="set_filter" value="Применить">Применить</button>-->
              <!--<div></div>-->
              <!--<button class="btn-link filter-reset" type="button" id="del_filter" name="del_filter" value="Очистить фильтр"><span>Очистить фильтр</span></button>-->
            <!--</div>-->
          </div>
            <div class="modef" id="modef" style="display:none">
				<span class="data">
					Выбрано:  <span id="modef_num">0</span>					<a href="/catalog/mebel_dlya_gostinnoy/filter/clear/apply/">Показать</a>
				</span>
            </div>
          </div>
          </div>
          </form>
        </div>

        <div class="prods" id="prods">
          <div class="sectinfo">
            <div class="img clearfix" *ngIf="category?.image != null">
              <img src="{{category.image.categoryImageLink}}" alt="{{category.title}}" title="{{category.title}}">
            </div>
            <div class="description" *ngIf="category?.description != null">
              {{category.description}}
            </div>
          </div>
          <div class="mix clearfix">
            <app-products-list [products]="products"></app-products-list>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>

<app-footer></app-footer>
