<div id="footer" class="footer"><!-- footer -->
  <div class="centering">
    <div class="centeringin line1 clearfix">
      <div class="block one">
        <div class="logo">
          <a href="/">
            <img src="/assets/img/logo.png" alt="">
          </a>
        </div>
        <div class="contacts clearfix">
          <div class="phone1">
            <a class="fancyajax fancybox.ajax recall" href="" title="Заказать звонок" (click)="recallRequest($event)">
              <svg class="svg-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-mobile-phone"></use>
              </svg>Заказать звонок
            </a>
            <div class="phone">
              <a href="" (click)="recallRequest($event)">8 (920) 884 54 54</a>
            </div>
          </div>
          <div class="phone2">
            <a class="fancyajax fancybox.ajax feedback" href="/include/popup/feedback/?AJAX_CALL=Y" title="Обратная связь" (click)="recallRequest($event)">
              <svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-dialog"></use>
              </svg>Обратная связь
            </a>
            <div class="phone">
              <a href="" (click)="recallRequest($event)">8 (920) 888 87 20</a>
            </div>
          </div>
        </div>
      </div>
      <div class="block two hidden-print">


        <div class="row catmenu ellipsisnames hidden-xs">
          <div class="col-xs-12">
            <div class="title">Каталог товаров</div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" *ngFor="let cat of popularCategories">
            <div class="item depth_level1">
            <a href="{{cat.link}}" title="{{cat.title}}">
              <span>{{cat.title}}</span>
            </a>
          </div>
            <div class="item depth_level2" *ngFor="let subCat of cat.childCategories">
              <a href="{{subCat.link}}" title="{{subCat.title}}"><span>{{subCat.title}}</span></a>
            </div>
            <!--<div class="item depth_level2">-->
              <!--<a href="/catalog/mebel_dlya_gostinnoy/divany/" title="Диваны"><span>Диваны</span></a>-->
            <!--</div>-->
            <!--<div class="item depth_level2">-->
              <!--<a href="/catalog/mebel_dlya_gostinnoy/zerkala/" title="Зеркала"><span>Зеркала</span></a>-->
            <!--</div>-->
            <!--<div class="item depth_level2">-->
              <!--<a href="/catalog/mebel_dlya_gostinnoy/komody/" title="Комоды"><span>Комоды</span></a>-->
            <!--</div>-->
          </div>

          <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">			<div class="item depth_level1">-->
          <!--<a href="/catalog/mebel_dlya_kabineta/" title="Мебель для кабинета"><span>Мебель для кабинета</span></a>-->
        <!--</div>-->
          <!--<div class="item depth_level2">-->
            <!--<a href="/catalog/mebel_dlya_kabineta/biblioteki/" title="Библиотеки"><span>Библиотеки</span></a>-->
          <!--</div>-->
          <!--<div class="item depth_level2">-->
            <!--<a href="/catalog/mebel_dlya_kabineta/byuro/" title="Бюро"><span>Бюро</span></a>-->
          <!--</div>-->
          <!--<div class="item depth_level2">-->
            <!--<a href="/catalog/mebel_dlya_kabineta/divany_office/" title="Диваны"><span>Диваны</span></a>-->
          <!--</div>-->
          <!--<div class="item depth_level2">-->
            <!--<a href="/catalog/mebel_dlya_kabineta/zerkala_office/" title="Зеркала"><span>Зеркала</span></a>-->
          <!--</div>-->
        <!--</div><div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">			<div class="item depth_level1">-->
          <!--<a href="/catalog/osveshchenie/" title="Освещение"><span>Освещение</span></a>-->
        <!--</div>-->
          <!--<div class="item depth_level2">-->
            <!--<a href="/catalog/osveshchenie/bra/" title="Бра"><span>Бра</span></a>-->
          <!--</div>-->
          <!--<div class="item depth_level2">-->
            <!--<a href="/catalog/osveshchenie/kaskady/" title="Каскады"><span>Каскады</span></a>-->
          <!--</div>-->
          <!--<div class="item depth_level2">-->
            <!--<a href="/catalog/osveshchenie/lampochki/" title="Лампочки"><span>Лампочки</span></a>-->
          <!--</div>-->
          <!--<div class="item depth_level2">-->
            <!--<a href="/catalog/osveshchenie/lyustry/" title="Люстры"><span>Люстры</span></a>-->
          <!--</div>-->
        <!--</div><div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">			<div class="item depth_level1">-->
          <!--<a href="/catalog/mebel_dlya_detskoy/" title="Мебель для детской"><span>Мебель для детской</span></a>-->
        <!--</div>-->
          <!--<div class="item depth_level2">-->
            <!--<a href="/catalog/mebel_dlya_detskoy/komody_child/" title="Комоды"><span>Комоды</span></a>-->
          <!--</div>-->
          <!--<div class="item depth_level2">-->
            <!--<a href="/catalog/mebel_dlya_detskoy/krovati_child/" title="Кровати"><span>Кровати</span></a>-->
          <!--</div>-->
          <!--<div class="item depth_level2">-->
            <!--<a href="/catalog/mebel_dlya_detskoy/pismennye_stoly/" title="Письменные столы"><span>Письменные столы</span></a>-->
          <!--</div>-->
          <!--<div class="item depth_level2">-->
            <!--<a href="/catalog/mebel_dlya_detskoy/stellazhi/" title="Стеллажи"><span>Стеллажи</span></a>-->
          <!--</div>-->
        <!--</div><div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">			<div class="item depth_level1">-->
          <!--<a href="/catalog/mebel_dlya_prikhozhey/" title="Мебель для прихожей"><span>Мебель для прихожей</span></a>-->
        <!--</div>-->
          <!--<div class="item depth_level2">-->
            <!--<a href="/catalog/mebel_dlya_prikhozhey/zerkala_entrance/" title="Зеркала"><span>Зеркала</span></a>-->
          <!--</div>-->
          <!--<div class="item depth_level2">-->
            <!--<a href="/catalog/mebel_dlya_prikhozhey/konsoli_entrance/" title="Консоли"><span>Консоли</span></a>-->
          <!--</div>-->
          <!--<div class="item depth_level2">-->
            <!--<a href="/catalog/mebel_dlya_prikhozhey/stoly_zhurnalnye_entrance/" title="Столы журнальные"><span>Столы журнальные</span></a>-->
          <!--</div>-->
        <!--</div>-->
          <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">			<div class="item depth_level1">-->
          <!--<a href="/catalog/mebel_dlya_spalni/" title="Мебель для спальни"><span>Мебель для спальни</span></a>-->
        <!--</div>-->
          <!--<div class="item depth_level2">-->
            <!--<a href="/catalog/mebel_dlya_spalni/banketki/" title="Банкетки"><span>Банкетки</span></a>-->
          <!--</div>-->
          <!--<div class="item depth_level2">-->
            <!--<a href="/catalog/mebel_dlya_spalni/komody_bedroom/" title="Комоды"><span>Комоды</span></a>-->
          <!--</div>-->
          <!--<div class="item depth_level2">-->
            <!--<a href="/catalog/mebel_dlya_spalni/krovati/" title="Кровати"><span>Кровати</span></a>-->
          <!--</div>-->
          <!--<div class="item depth_level2">-->
            <!--<a href="/catalog/mebel_dlya_spalni/prikrovatnye_tumby/" title="Прикроватные тумбы"><span>Прикроватные тумбы</span></a>-->
          <!--</div>-->
        <!--</div>-->
        </div>
      </div>
      <div class="block three hidden-print">
        <div class="footmenu clearfix">
          <div class="title">Товары</div>
          <div class="item" *ngFor="let p of mainMenuPages">
            <a href="/page/{{p.alias}}">
              <span>{{p.title}}</span>
            </a>
          </div>
          <!--<div class="item">-->
            <!--<a href="/vendors/">-->
              <!--<span>Вендорам</span>-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="item">-->
            <!--<a href="/suppliers/">-->
              <!--<span>Поставщикам</span>-->
            <!--</a></div>-->
          <!--<div class="item">-->
            <!--<a href="/docs/">-->
              <!--<span>Образцы документов</span>-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="item">-->
            <!--<a href="/news/">-->
              <!--<span>Новости</span>-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="item">-->
            <!--<a href="/action/">-->
              <!--<span>Акции</span>-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="item">-->
            <!--<a href="/delivery/">-->
              <!--<span>Доставка</span>-->
            <!--</a></div>-->
          <!--<div class="item">-->
            <!--<a href="/payment/">-->
              <!--<span>Оплата</span>-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="item">-->
            <!--<a href="/shops/">-->
              <!--<span>Наши магазины</span>-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="item">-->
            <!--<a href="/contacts/">-->
              <!--<span>Контакты</span>-->
            <!--</a>-->
          <!--</div>-->
        </div>
      </div>
      <!--<div class="block four hidden-print">-->
        <!--<div class="sovservice">-->
          <!--<div style="margin-bottom:5px;">-->
            <!--<div style="margin-bottom:6px;text-transform:uppercase;">Подписывайся</div>-->
            <!--<a href="https://www.facebook.com/redsignru/" rel="nofollow" target="_blank"><img src="/include/icon_fb.png" alt="АЛЬФА Системс Facebook"></a>-->
            <!--<a href="https://vk.com/redsignru" rel="nofollow" target="_blank"><img src="/include/icon_vk.png" alt="АЛЬФА Системс Вконтакте"></a>-->
            <!--<a href="https://twitter.com/redsignru" rel="nofollow" target="_blank"><img src="/include/icon_tw.png" alt="АЛЬФА Системс Twitter"></a>-->

            <!--&lt;!&ndash; VK Widget &ndash;&gt;-->
            <!--<br>-->
            <!--<script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>-->
            <!--<div id="vk_groups"></div>-->
            <!--&lt;!&ndash;<script type="text/javascript">&ndash;&gt;-->
              <!--&lt;!&ndash;VK.Widgets.Group("vk_groups", {mode: 1, no_cover: 1, color1: 'fafafa', color3: '7a6137'}, 125317513);&ndash;&gt;-->
            <!--&lt;!&ndash;</script>&ndash;&gt;-->
            <!--&lt;!&ndash; /VK Widget &ndash;&gt;-->
          <!--</div>-->

        <!--</div>-->
        <!--<div class="subscribe">-->
          <!--<div class="footersubscribe" id="footersubscribe">-->
            <!--<div class="title">Подписка на новости</div>-->
            <!--&lt;!&ndash;'start_frame_cache_footersubscribe'&ndash;&gt;-->
            <!--<form action="/personal/subscriptions/">-->
              <!--<input class="noned" type="checkbox" name="sf_RUB_ID[]" value="1" checked title="Новости сайта" />-->
              <!--<input class="noned" type="checkbox" name="sf_RUB_ID[]" value="2" checked title="Акции на сайте" />-->
              <!--<div class="inp">-->
                <!--<input type="text" name="sf_EMAIL" size="20" value="" title="Введите ваш e-mail" placeholder="Введите ваш e-mail" />-->
              <!--</div><button class="btn-primary" type="submit" name="OK" value="Подписаться">Подписаться</button>-->
            <!--</form>&lt;!&ndash;'end_frame_cache_footersubscribe'&ndash;&gt;-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>

  <div class="line2 hidden-print">
    <div class="centering">
      <div class="centeringin clearfix">
        <div class="sitecopy">
          © Все права защищены. Информация сайта защищена законом об авторских правах.
        </div>
      </div>
    </div>
  </div>
</div><!-- /footer -->


<div id="rs_easycart" class="rs_easycart brown addbodypadding" style='z-index:991'>
  <!--'start_frame_cache_rs_easycart'-->
  <div class="rsec rsec_content" style="max-width:1240px;">
    <div class="rsec_in">
      <div class="rsec_body">
        <div id="rsec_resizable" class="rsec_tabs">
          <div id="resizable-handle" class="rsec_tyanya ui-resizable-n ui-resizable-handle">
          <span>
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-view-table">
                <svg viewBox="0 0 459 459" id="svg-view-table">
                      <path d="M0,382.5h459v-51H0V382.5z M0,255h459v-51H0V255z M0,76.5v51h459v-51H0z"></path>
                </svg>
              </use>
            </svg>
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-view-table"></use>
            </svg>
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-view-table"></use>
            </svg>
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-view-table"></use>
            </svg>
          </span>
            <a class="rsec_close" href="" (click)="toggleBottomPanel($event, null)">
              Закрыть
              <svg class="svg-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-close-button">
                  <svg viewBox="0 0 95.939 95.939" id="svg-close-button">
                    <path d="M62.819,47.97l32.533-32.534c0.781-0.781,0.781-2.047,0-2.828L83.333,0.586C82.958,0.211,82.448,0,81.919,0
                  c-0.53,0-1.039,0.211-1.414,0.586L47.97,33.121L15.435,0.586c-0.75-0.75-2.078-0.75-2.828,0L0.587,12.608
                  c-0.781,0.781-0.781,2.047,0,2.828L33.121,47.97L0.587,80.504c-0.781,0.781-0.781,2.047,0,2.828l12.02,12.021
                  c0.375,0.375,0.884,0.586,1.414,0.586c0.53,0,1.039-0.211,1.414-0.586L47.97,62.818l32.535,32.535
                  c0.375,0.375,0.884,0.586,1.414,0.586c0.529,0,1.039-0.211,1.414-0.586l12.02-12.021c0.781-0.781,0.781-2.048,0-2.828L62.819,47.97
                  z"></path>
                  </svg>
                </use>
              </svg>
            </a>
          </div>
          <div id="rsec_viewed" class="rsec_tab">
            <div class="rsec_thistab_viewed" *ngIf="bottomPanelType == 'recentlyViewed' && viewedProducts.length == 0">
              <div class="rsec_emptytab rsec_clearfix">
                <div class="rsec_emptytab_icon">Список просмотренных товаров пуст</div>
              </div>
            </div>
            <div class="rsec_thistab_viewed" style="margin-top: 25px" *ngIf="bottomPanelType == 'recentlyViewed' && viewedProducts.length > 0">
                <table class="rsec_table">
                  <thead>
                  <tr>
                    <th class="rsec_hov"></th>
                    <th colspan="2">Товар</th>
                    <th class="rsec_cen">Цена</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="rsec_jsline" *ngFor="let p of viewedProducts">
                    <td class="rsec_hov"></td>
                    <td class="rsec_image rsec_cen rsec_min">
                      <a href="/product/{{p.alias}}" target="_blank">
                        <img src="{{p.imageLink}}" alt="{{p.title}}" title="{{p.title}}"></a>
                    </td>
                    <td>
                      <a href="/product/{{p.alias}}" target="_blank">
                        {{p.title}}
                      </a>
                    </td>
                    <td class="rsec_nowrap rsec_min rsec_padd" *ngIf="!p.price"></td>
                    <td class="rsec_nowrap rsec_min rsec_padd" *ngIf="p.price">{{p.price}} руб.</td>
                  </tr>
                  </tbody>
                </table>
                <div class="rsec_buttons rsec_clearfix"></div>
            </div>
          </div>
          <div id="rsec_compare" class="rsec_tab">
            <div class="rsec_thistab_compare" *ngIf="bottomPanelType == 'productComparison' && comparisonProducts.length == 0">
              <div class="rsec_emptytab rsec_clearfix">
                <div class="rsec_emptytab_icon">Список сравниваемых товаров пуст</div>
              </div>
            </div>
            <div class="rsec_thistab_compare" *ngIf="bottomPanelType == 'productComparison' && comparisonProducts.length > 0">
              <div class="rsec_thistab_compare" style="margin-top: 25px">
                <table class="rsec_table">
                  <thead>
                  <tr>
                    <th class="rsec_hov"></th>
                    <th colspan="3">Товар</th>
                    <th class="rsec_cen">Цена</th>
                    <th class="rsec_cen">Удалить</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="rsec_jsline" (mouseenter)="productLineMouseEnter($event)" (mouseleave)="productLineMouseLeave($event)" *ngFor="let fp of comparisonProducts; let i = index">
                    <td class="rsec_hov"></td>
                    <td class="rsec_min rsec_cen">
                      <input type="checkbox" id="rsec_thistab_compare_DELETE_{{i}}" [(ngModel)]="fp.selected">
                      <label for="rsec_thistab_compare_DELETE_{{i}}"></label>
                    </td>
                    <td class="rsec_image rsec_cen rsec_min">
                      <a href="/product/{{fp.alias}}" target="_blank">
                        <img src="{{fp.imageLink}}" alt="{{fp.title}}">
                      </a>
                    </td>
                    <td>
                      <a href="/product/{{fp.alias}}" target="_blank">{{fp.title}}</a>
                    </td>
                    <td class="rsec_nowrap rsec_min rsec_padd" *ngIf="!fp.price"></td>
                    <td class="rsec_nowrap rsec_min rsec_padd" *ngIf="fp.price">{{fp.price}} руб.</td>
                    <td class="rsec_min rsec_cen rsec_padd">
                      <a class="rsec_delete" href="#" (click)="removeFromBottomPanel($event, fp, comparisonProducts, 'comparison')">
                        <svg class="svg-icon">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-close-button"></use>
                        </svg>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="rsec_buttons rsec_clearfix">
                  <div class="rsec_leftp">
                    <input class="btn2 rsec_delall" type="button" name="Refresh" value="Удалить все" (click)="removeFromBottomPanelMultiple(false, comparisonProducts, 'comparison')">
                    <input class="btn2 rsec_delsome" type="button" name="Refresh" value="Удалить" (click)="removeFromBottomPanelMultiple(true, comparisonProducts, 'comparison')">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="rsec_favorite" class="rsec_tab rsec_universalhandler" data-ajaxfinder="action=add2favorite" >
            <div class="rsec_thistab_favorite" *ngIf="bottomPanelType == 'favouriteProducts' && favoriteProducts.length == 0">
              <div class="rsec_emptytab rsec_clearfix">
                <div class="rsec_emptytab_icon">Список избранного пуст</div>
              </div>
            </div>
            <div class="rsec_thistab_favorite" style="margin-top: 25px" *ngIf="bottomPanelType == 'favouriteProducts' && favoriteProducts.length > 0">
              <table class="rsec_table">
                <thead>
                <tr>
                  <th class="rsec_hov"></th>
                  <th colspan="3">Товар</th>
                  <th class="rsec_cen">Цена</th>
                  <th class="rsec_cen">Удалить</th>
                </tr>
                </thead>
                <tbody>
                <tr class="rsec_jsline" (mouseenter)="productLineMouseEnter($event)" (mouseleave)="productLineMouseLeave($event)" *ngFor="let fp of favoriteProducts; let i = index">
                  <td class="rsec_hov"></td>
                  <td class="rsec_min rsec_cen">
                    <input type="checkbox" id="rsec_thistab_favorite_DELETE_{{i}}" [(ngModel)]="fp.selected">
                    <label for="rsec_thistab_favorite_DELETE_{{i}}"></label>
                  </td>
                  <td class="rsec_image rsec_cen rsec_min">
                    <a href="/product/{{fp.alias}}" target="_blank">
                      <img src="{{fp.imageLink}}" alt="{{fp.title}}">
                    </a>
                  </td>
                  <td>
                    <a href="/product/{{fp.alias}}" target="_blank">{{fp.title}}</a>
                  </td>
                  <td class="rsec_nowrap rsec_min rsec_padd" *ngIf="!fp.price"></td>
                  <td class="rsec_nowrap rsec_min rsec_padd" *ngIf="fp.price">{{fp.price}} руб.</td>
                  <td class="rsec_min rsec_cen rsec_padd">
                    <a class="rsec_delete" href="#" (click)="removeFromBottomPanel($event, fp, favoriteProducts, 'favorites')">
                      <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-close-button"></use>
                      </svg>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="rsec_buttons rsec_clearfix">
                <div class="rsec_leftp">
                  <input class="btn2 rsec_delall" type="button" name="Refresh" value="Удалить все" (click)="removeFromBottomPanelMultiple(false, favoriteProducts, 'favorites')">
                  <input class="btn2 rsec_delsome" type="button" name="Refresh" value="Удалить" (click)="removeFromBottomPanelMultiple(true, favoriteProducts, 'favorites')">
                </div>
              </div>
            </div>
          </div>
          <div id="rsec_basket" class="rsec_tab">
            <div class="rsec_thistab_basket" *ngIf="bottomPanelType == 'busketPanel' && busketItems.length == 0">
              <div class="rsec_emptytab rsec_clearfix">
                <div class="rsec_emptytab_icon">Ваша корзина пуста</div>
              </div>
            </div>
            <div class="rsec_thistab_basket" style="margin-top: 25px" *ngIf="bottomPanelType == 'busketPanel' && busketItems.length > 0">
              <table class="rsec_table">
                <thead>
                <tr>
                  <th class="rsec_hov"></th>
                  <th colspan="3">Товар</th>
                  <th class="rsec_cen">Цена</th>
                  <th class="rsec_cen">Количество</th>
                  <th class="rsec_cen">Сумма</th>
                  <th class="rsec_cen">Удалить</th>
                </tr>
                </thead>
                <tbody>
                <tr class="rsec_jsline" (mouseenter)="productLineMouseEnter($event)" (mouseleave)="productLineMouseLeave($event)" *ngFor="let bi of busketItems; let i = index">
                  <td class="rsec_hov"></td>
                  <td class="rsec_min rsec_cen">
                    <input type="checkbox" id="rsec_thistab_basket_DELETE_{{i}}" [(ngModel)]="bi.selected">
                    <label for="rsec_thistab_basket_DELETE_{{i}}"></label>
                  </td>
                  <td class="rsec_image rsec_cen rsec_min">
                    <a href="/product/{{bi.alias}}" target="_blank">
                      <img src="{{bi.imageLink}}" alt="{{bi.title}}">
                    </a>
                  </td>
                  <td>
                    <a href="/product/{{bi.alias}}" target="_blank">{{bi.title}}</a>
                  </td>
                  <td class="rsec_nowrap rsec_min rsec_padd" *ngIf="!bi.price"></td>
                  <td class="rsec_nowrap rsec_min rsec_padd" *ngIf="bi.price">{{bi.price}} руб.</td>
                  <td class="rsec_nowrap rsec_min rsec_padd">
                    <span class="rsec_quantity">
                      <span class="rsec_quantity__inner">
                        <a class="rsec_minus js-minus" (click)="changeProductQty($event, bi, false)"></a>
                        <input type="text" class="rsec_quantity__input js-quantity" [(ngModel)]="bi.qty">
                        <span class="rsec_measurename js-measurename">шт</span>
                        <a class="rsec_plus js-plus" (click)="changeProductQty($event, bi, true)"></a>
                      </span>
                    </span>
                  </td>
                  <td class="rsec_nowrap rsec_min rsec_padd">{{bi.sum}} руб.</td>
                  <td class="rsec_min rsec_cen rsec_padd">
                    <a class="rsec_delete" href="#" (click)="removeItemFromBasket($event, bi)">
                      <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-close-button"></use>
                      </svg>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="rsec_buttons rsec_clearfix">
                <div class="rsec_leftp">
                  <input class="btn2 rsec_delall" type="button" name="Refresh" value="Удалить все" (click)="removeMultipleItemsFromBusket($event, false)">
                  <input class="btn2 rsec_delsome" type="button" name="Refresh" value="Удалить" (click)="removeMultipleItemsFromBusket($event, true)">
                </div>
                <div class="rsec_rightp">
                  <span class="rsec_totaltext">
                    <span class="rsec_name">Товаров:</span>
                    <span class="rsec_color">&nbsp;
                      <span class="rsec_take_normalCount">{{busketItemsCount}}</span>
                    </span> &nbsp;
                    <span class="rsec_name">Сумма:</span>
                    <span class="rsec_color">&nbsp;
                      <span class="rsec_take_allSum_FORMATED">{{busketItemsSum}} руб.</span>
                    </span>
                  </span>
                  <!--<input class="btn1" name="BasketRefresh" value="Оформить заказ" disabled>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rsec rsec_headers">
    <div class="rsec_in" style="max-width:1240px;">
      <div class="rsec_body">
        <div class="rsec_orlink">
          <a class="rsec_viewed rsec_changer js-unload" [ngClass]="getTabClass('recentlyViewed')" href="" (click)="toggleBottomPanel($event, 'recentlyViewed')">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-viewed">
                <svg viewBox="0 0 456.795 456.795" id="svg-viewed">
                  <path d="M448.947,218.475c-0.922-1.168-23.055-28.933-61-56.81c-50.705-37.253-105.877-56.944-159.551-56.944
                c-53.672,0-108.844,19.691-159.551,56.944c-37.944,27.876-60.077,55.642-61,56.81L0,228.397l7.846,9.923
                c0.923,1.168,23.056,28.934,61,56.811c50.707,37.252,105.879,56.943,159.551,56.943c53.673,0,108.845-19.691,159.55-56.943
                c37.945-27.877,60.078-55.643,61-56.811l7.848-9.923L448.947,218.475z M228.396,315.039c-47.774,0-86.642-38.867-86.642-86.642
                c0-7.485,0.954-14.751,2.747-21.684l-19.781-3.329c-1.938,8.025-2.966,16.401-2.966,25.013c0,30.86,13.182,58.696,34.204,78.187
                c-27.061-9.996-50.072-24.023-67.439-36.709c-21.516-15.715-37.641-31.609-46.834-41.478c9.197-9.872,25.32-25.764,46.834-41.478
                c17.367-12.686,40.379-26.713,67.439-36.71l13.27,14.958c15.498-14.512,36.312-23.412,59.168-23.412
                c47.774,0,86.641,38.867,86.641,86.642C315.037,276.172,276.17,315.039,228.396,315.039z M368.273,269.875
                c-17.369,12.686-40.379,26.713-67.439,36.709c21.021-19.49,34.203-47.326,34.203-78.188s-13.182-58.697-34.203-78.188
                c27.061,9.997,50.07,24.024,67.439,36.71c21.516,15.715,37.641,31.609,46.834,41.477
                C405.91,238.269,389.787,254.162,368.273,269.875z"></path>
                  <path d="M173.261,211.555c-1.626,5.329-2.507,10.982-2.507,16.843c0,31.834,25.807,57.642,57.642,57.642
                c31.834,0,57.641-25.807,57.641-57.642s-25.807-57.642-57.641-57.642c-15.506,0-29.571,6.134-39.932,16.094l28.432,32.048
                L173.261,211.555z"></path>
                </svg>
              </use>
            </svg>
            <span class="rsec_name">Недавно просмотренные</span>
            &nbsp;
            <span class="rsec_color rsec_cnt js-viewed-prod-count">{{viewedProducts.length}}</span>
          </a>
        </div>
        <div class="rsec_orlink">
          <a class="rsec_compare rsec_changer js-unload" [ngClass]="getTabClass('productComparison')"  (click)="toggleBottomPanel($event, 'productComparison')">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-compare">
                <svg viewBox="0 0 121.805 121.805" id="svg-compare">
                  <path d="M121.805,109.623V21.926c0-2.692-2.181-4.873-4.871-4.873H92.572c-2.691,0-4.871,2.181-4.871,4.873v87.697
                c0,2.693,2.18,4.873,4.871,4.873h24.361C119.624,114.496,121.805,112.316,121.805,109.623z"></path>
                  <path d="M46.287,114.496h26.797c2.691,0,4.872-2.18,4.872-4.873V12.181c0-2.692-2.181-4.872-4.872-4.872H46.287
                c-2.692,0-4.873,2.18-4.873,4.872v97.442C41.414,112.316,43.594,114.496,46.287,114.496z"></path>
                  <path d="M4.872,46.286C2.18,46.286,0,48.466,0,51.158v58.465c0,2.693,2.18,4.873,4.872,4.873h24.361
                c2.692,0,4.872-2.18,4.872-4.873V51.158c0-2.692-2.18-4.872-4.872-4.872H4.872z"></path>
                </svg>
              </use>
            </svg>
            <span class="rsec_name">Сравнение товаров</span>
            &nbsp;
            <span class="rsec_color rsec_cnt js-compare-prod-count">{{comparisonProducts.length}}</span>
          </a>
        </div>
        <div class="rsec_orlink">
          <a class="rsec_favorite rsec_changer js-unload" [ngClass]="getTabClass('favouriteProducts')" (click)="toggleBottomPanel($event, 'favouriteProducts')">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-heart-2">
                <svg viewBox="0 0 45.412 45.413" id="svg-heart-2">
                  <path d="M45.412,16.024c0-6.918-5.668-12.547-12.635-12.547c-4.103,0-7.754,1.951-10.063,4.969
                c-2.311-3.018-5.965-4.969-10.07-4.969C5.672,3.477,0,9.105,0,16.024c0,10.422,14.892,25.911,22.715,25.911
                c1.185,0,2.531-0.358,3.965-0.998c0,0-5.476-4.086-7.683-5.672C13.625,31.402,5.143,22.639,5.143,16.024
                c0-4.082,3.365-7.403,7.5-7.403c4.135,0,7.5,3.321,7.5,7.403c0,1.42,1.151,2.572,2.572,2.572c1.42,0,2.57-1.152,2.57-2.572
                c0-4.082,3.361-7.403,7.492-7.403s7.492,3.321,7.492,7.403c0,6.723-8.544,15.977-14.113,19.411l4.394,3.244
                C37.761,33.575,45.412,23.497,45.412,16.024z"></path>
                </svg>
              </use>
            </svg>
            <span class="rsec_name">Избранное</span>
            &nbsp;
            <span class="rsec_color rsec_cnt js-favorite-prod-count">{{favoriteProducts.length}}</span>
          </a>
        </div>
        <div class="rsec_orlink">
          <a class="rsec_basket rsec_changer js-unload" [ngClass]="getTabClass('busketPanel')" (click)="toggleBottomPanel($event, 'busketPanel')">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-cart-2">
                <svg viewBox="0 0 495.401 495.401" id="svg-cart-2">
                  <path d="M185.049,381.529c-22.852,0-41.379,18.517-41.379,41.36c0,22.861,18.527,41.379,41.379,41.379
                c22.843,0,41.37-18.518,41.37-41.379C226.419,400.048,207.892,381.529,185.049,381.529z"></path>
                  <path d="M365.622,381.529c-22.861,0-41.379,18.517-41.379,41.36c0,22.861,18.518,41.379,41.379,41.379
                c22.844,0,41.38-18.518,41.38-41.379C407.002,400.048,388.466,381.529,365.622,381.529z"></path>
                  <path d="M469.558,154.735l-229.192-0.019c-11.46,0-20.75,9.29-20.75,20.75s9.29,20.75,20.75,20.75
                l202.778-0.01l-12.864,43.533l-206.164,0.044c-10.631,0-19.25,8.619-19.25,19.25c0,10.632,8.619,19.25,19.25,19.25l194.768,0.076
                l-12.093,40.715H174.455L159.04,196.188L144.321,76.471c-1.198-9.473-8.066-17.251-17.319-19.611l-98-25
                C16.56,28.684,3.901,36.199,0.727,48.641s4.339,25.102,16.781,28.275l82.667,21.089l32.192,241.591c0,0,1.095,28.183,26.69,28.183
                h256.81c21.518,0,25.678-22.438,25.678-22.438l50.896-151.159C492.441,194.162,507.532,154.735,469.558,154.735z"></path>
                </svg>
              </use>
            </svg>
            <span class="rsec_name">Товаров</span>
            <span class="rsec_color">
              &nbsp;
              <span class="rsec_normalCount js-basket-prod-count">{{busketItemsCount}}</span>
            </span>
            &nbsp;
            <span class="rsec_name">Сумма</span>
            <span class="rsec_color rsec_sum">
              &nbsp;
              <span class="rsec_allSum_FORMATED js-basket-allsum-formated">{{busketItemsSum}}</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div><!--'end_frame_cache_rs_easycart'-->
</div>

<!--'start_frame_cache_footer_inc'--><script>RSGoPro_VIEWED = [];</script><!--'end_frame_cache_footer_inc'-->
<!--<a class="c-scroll2top js-scroll2top" href="#"><svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow-linear-up"></use></svg></a>-->
