
<app-header></app-header>

<app-side-menu [hideMenu]="false"></app-side-menu>

  <div id="content" class="content">
    <div class="centering">
      <div class="centeringin clearfix">
          <div class="gopro-banners owl-gopro-banners">
            <div id="owlGoProBanners" class="owl-carousel">
                <div class="gopro-banners__banner js-item item" *ngFor="let sp of sliderPages">
                  <div class="gopro-banners__background text" data-banner-type="text" data-img-src="/assets/img/slide111.png" [ngStyle]="getSliderBackground(sp)" >
                  </div>
                  <div class="gopro-banners__wrap">
                    <div class="gopro-banners__infowrap">
                      <div class="gopro-banners__info">
                        <div class="gopro-banners__text">
                          <div class="gopro-banners__text1">{{sp.sliderHeader}}</div>
                          <div class="gopro-banners__text2">{{sp.sliderPromo}}</div>
                          <div class="gopro-banners__text3 hidden-xs">
                            {{sp.sliderAnnotation}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a href="/page/{{sp.alias}}" class="gopro-banners__link" ></a>
                </div>
          </div>
        </div>
        <div class="fichi">
          <div class="fichi__inner">
            <div class="row">
              <div class="col-xs-6 col-sm-3">
                <div class="fichi__link">
                  <span class="fichi__img">
                    <img src="/assets/img/wallet.png" alt="Оплата картами и наличными" title="Оплата картами и наличными">
                  </span>
                  <span class="fichi__name">Оплата картами и наличными</span>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="fichi__link">
                  <span class="fichi__img">
                    <img src="/assets/img/timer.png" alt="Быстрая отгрузка и доставка" title="Быстрая отгрузка и доставка">
                  </span>
                  <span class="fichi__name">Быстрая отгрузка и доставка</span>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="fichi__link">
                  <span class="fichi__img">
                    <img src="/assets/img/notepad.png" alt="Пять лет гарантии на все товары" title="Пять лет гарантии на все товары">
                  </span>
                  <span class="fichi__name">Пять лет гарантии на все товары</span>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <a class="fichi__link" id="bx_651765591_168" target="_blank" href="/delivery/">
                <span class="fichi__img">
                  <img src="/assets/img/delivery.png" alt="Бесплатная доставка по всей Росcии" title="Бесплатная доставка по всей Росcии"></span>
                <span class="fichi__name">Бесплатная доставка по всей Росcии</span>
              </a>
              </div>
            </div>
          </div>
        </div>

        <!-- /banner -->

        <!-- section.list -->

        <div class="b-section-list main-page clearfix">
          <ul class="row list-unstyled">
            <li class="section col-xs-4 col-md-3 col-md-4 col-lg-3" *ngFor="let cat of popularCategories">
              <a class="around_image" href="{{cat.link}}"><img
                src="{{cat?.image?.categoryImageLink}}" alt="{{cat.title}}"
                title="{{cat.title}}"/></a>
              <a class="parent" href="{{cat.link}}" title="{{cat.title}}">{{cat.title}}</a>
              <ul class="subsections list-unstyled">
                <li *ngFor="let subCat of popularCategoriesMap.get(cat.id)">
                  <a href="{{subCat.link}}" title="{{subCat.title}}">
                    {{subCat.title}} <span *ngIf="subCat.productsCount">({{subCat.productsCount}})</span>
                  </a>
                </li>
                <li *ngIf="cat.hasHiddenSubCategories">
                  <a class="b-section-list__show-more" href="{{cat.link}}" title="">
                    Еще ({{cat.hiddenSubCategoriesQty}})...
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /section.list -->

        <!-- news -->

        <div class="presscentermainn clearfix">
          <div class="in clearfix">
            <div class="item" *ngFor="let p of sideMenuPages">
              <div class="img">
                <a href="/page/{{p?.alias}}">
                  <img src="{{p?.image?.categoryImageLink}}" alt="{{p?.title}}" title="{{p?.title}}" />
                </a>
              </div>
              <div class="data">
                <a class="name" href="/page/{{p.alias}}" title="{{p.title}}">
                  {{p.title}}
                </a> <span *ngIf="p.parentPageId != null">| <a class="blockname" href="/page/{{getParentPage(p)?.alias}}" title="{{getParentPage(p)?.title}}">{{getParentPage(p)?.title}}</a></span>
              </div>
            </div>
          </div>
        </div>
        <!-- /news -->

        <!-- best.offers -->
        <div class="nice-title">Подборка товаров</div>


        <!-- b-tab-component -> tabKRNcb1 -->
        <div class="b-tab-component">
          <ul class="nav nav-tabs js-tabs " role="tablist" id="tabKRNcb1" data-ajax-load="Y">
            <li role="presentation" class="active"><a class="js-tab-loaded" href="#tabKRNcb1__main" role="tab" data-toggle="tab">Популярные товары</a></li>
          </ul>
          <div class="tab-content ">
            <div role="tabpanel" class="tab-pane active" id="tabKRNcb1__main">

              <div class="tab-pane-in">
                <div class="tab-pane-in2">
                  <app-products-list [products]="products"></app-products-list>
                  <!--<div class="tab-sorter">-->
                    <!--<div class="b-sorter js-sorter clearfix" data-ajaxpagesid="ajaxpages_main">-->
                      <!--<div class="b-sorter__template hidden-print">-->
                        <!--<a-->
                          <!--id="list-switcher"-->
                          <!--class="js-sorter__a"-->
                          <!--href="#"-->
                          <!--data-fvalue="table"-->
                           <!--title="Список"-->
                          <!--(click)="changeView('LIST', $event)">-->
                          <!--<svg class="svg-icon icon-table">-->
                            <!--<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4x-view-table">-->
                              <!--<svg viewBox="0 0 14 14" id="svg-4x-view-table" width="100%" height="100%">-->
                                <!--<path d="M13,1V3H1V1H13m0,5V8H1V6H13m0,5v2H1V11H13M14,0H0V4H14V0Zm0,5H0V9H14V5Zm0,5H0v4H14V10Z"></path>-->
                              <!--</svg>-->
                            <!--</use>-->
                          <!--</svg>-->
                          <!--<span>Список</span></a>-->
                          <!--<a-->
                            <!--id="gallery-switcher"-->
                            <!--class="js-sorter__a"-->
                             <!--href="#"-->
                             <!--data-fvalue="gallery"-->
                             <!--(click)="changeView('GALLERY', $event)"-->
                             <!--title="Галерея">-->
                            <!--<svg class="svg-icon icon-gallery">-->
                              <!--<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4x-view-gallery">-->
                                <!--<svg viewBox="0 0 14 14" id="svg-4x-view-gallery" width="100%" height="100%">-->
                                  <!--<path d="M13,1V3H7V1h6M3,1V3H1V1H3M13,6V8H7V6h6M3,6V8H1V6H3m10,5v2H7V11h6M3,11v2H1V11H3M14,0H6V4h8V0ZM4,0H0V4H4V0ZM14,5H6V9h8V5ZM4,5H0V9H4V5Zm10,5H6v4h8V10ZM4,10H0v4H4V10Z"></path>-->
                                <!--</svg>-->
                              <!--</use>-->
                            <!--</svg>-->
                            <!--<span>Галерея</span>-->
                          <!--</a>-->
                        <!--<a-->
                          <!--id="card-switcher"-->
                          <!--class="selected js-sorter__a"-->
                          <!--href="#"-->
                          <!--data-fvalue="showcase"-->
                          <!--title="Витрина"-->
                          <!--(click)="changeView('CARD', $event)">-->
                          <!--<svg class="svg-icon icon-showcase">-->
                            <!--<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4x-view-showcase">-->
                              <!--<svg viewBox="0 0 14 14" id="svg-4x-view-showcase" width="100%" height="100%">-->
                                <!--<path d="M13,1V5H9V1h4M5,1V5H1V1H5m8,8v4H9V9h4M5,9v4H1V9H5m9-9H8V6h6V0ZM6,0H0V6H6V0Zm8,8H8v6h6V8ZM6,8H0v6H6V8Z"></path>-->
                              <!--</svg>-->
                            <!--</use>-->
                          <!--</svg>-->
                          <!--<span>Витрина</span></a>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
              <!--<div id="ajaxpages_main" class="ajaxpages_main">-->
                <!--&lt;!&ndash; showcase &ndash;&gt;-->
                <!--<div class="gopro-container">-->
                  <!--<div class="list-showcase view-showcase row" id="view-showcase" *ngIf="view === 'CARD'">-->
                    <!--<div class="js-element da2 list-element list-showcase__element  col-xs-12 col-sm-4 col-md-3 col-lg-5rs mod-short"-->
                         <!--*ngFor="let p of products">-->
                      <!--<div class="list-showcase__inner js-element__shadow">-->
                        <!--&lt;!&ndash; part main &ndash;&gt;-->
                        <!--<div class="list-showcase__part-main">-->
                          <!--<div class="list-showcase__mix">-->
                            <!--<div class="list-showcase__picture">-->
                              <!--<a href="{{p.link}}">-->
                                <!--<img class="js-list-picture js-lazy lazy-animation"-->
                                <!--src="/assets/img/catalog/198_132/empty.png"-->
                                <!--data-src="{{getCardImageLink(p)}}"-->
                                <!--alt="{{p.altTitle}}"/>-->
                              <!--</a>-->
                            <!--</div>-->
                            <!--<div class="list-showcase__timer-stickers">-->
                              <!--<div class="list-showcase__stickers">-->
                                <!--<div class="c-stickers">-->
                                  <!--<span class="c-stickers__sticker c-stickers__da2" *ngIf="p.productOfDay">Товар дня</span>-->
                                  <!--<span class="c-stickers__sticker c-stickers__sticker-standart c-stickers__new" *ngIf="p.newProduct">Новинка</span>-->
                                  <!--<span class="c-stickers__sticker c-stickers__sticker-standart c-stickers__hit" *ngIf="p.hit">Хит</span>-->
                                  <!--<span class="c-stickers__sticker c-stickers__sticker-standart c-stickers__discount js-discount-value" *ngIf="p.discountPrice">-->
                                    <!-- -<span class="js-discount-value">{{p.discount}}</span>%-->
                                  <!--</span>-->
                                <!--</div>-->
                              <!--</div>-->
                            <!--</div>-->

                            <!--<div class="list-showcase__compare">-->
                              <!--<a rel="nofollow" class="c-compare js-add2compare" href="/?action=ADD_TO_COMPARE_LIST&amp;id=117">-->
                                <!--<svg class="svg-icon">-->
                                  <!--<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4x-compare-small"></use>-->
                                <!--</svg>-->
                              <!--</a>-->
                            <!--</div>-->
                            <!--<div class="list-showcase__favorite">-->
                              <!--<a rel="nofollow" class="c-favorite js-add2favorite"-->
                                 <!--href="{{p.link}}">-->
                                <!--<svg class="svg-icon">-->
                                  <!--<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4x-favorite-small"></use>-->
                                <!--</svg>-->
                              <!--</a>-->
                            <!--</div>-->
                          <!--</div>-->
                          <!--<div class="list-showcase__name-rating">-->
                            <!--<div class="list-showcase__name">-->
                              <!--<a href="{{p.link}}">{{p.title}}</a>-->
                            <!--</div>-->
                            <!--<div class="list-showcase__rating">-->
                            <!--</div>-->
                          <!--</div>-->
                          <!--<div class="list-showcase__prices">-->
                            <!--<div class="c-prices js-prices view-list page-list product-alone multyprice-no">-->
                              <!--<span class="c-prices__price   js-prices__price js-prices__price-code_BASE" data-pricecode="BASE">-->
                                <!--<span class="c-prices__name">Розничная цена:</span>-->
                                <!--<span class="c-prices__value js-prices_pdv_BASE" *ngIf="hasDiscount(p)">{{p.discountPrice}} руб.</span>-->
                                <!--<span class="c-prices__value js-prices_pdv_BASE" *ngIf="!hasDiscount(p)">{{p.price}} руб.</span>-->
                                <!--<span class="c-prices__value-old-before" *ngIf="hasDiscount(p)">-->
                                  <!--<span class="c-prices__value-old js-prices_pv_BASE_hide js-prices_pv_BASE">-->
                                    <!--{{p.price}} руб.-->
                                  <!--</span>-->
                                <!--</span>-->
                              <!--</span>-->
                            <!--</div>-->
                          <!--</div>-->
                          <!--<div class="list-showcase__pay hidden-xs hidden-sm hidden-print">-->
                            <!--&lt;!&ndash;noindex&ndash;&gt;-->
                            <!--<div class="b-pay">-->
                              <!--<form class="b-pay__form js-pay__form js-buyform117 js-synchro clearfix"-->
                                    <!--name="add2basketform">-->
                                <!--<input type="hidden" name="action" value="ADD2BASKET">-->
                                <!--<input type="hidden" name="id" class="js-add2basketpid" value="116">-->
                                <!--<span class="b-pay__inner">-->
                                  <!--<span class="b-pay__quantity"></span>-->
                                  <!--<span class="b-pay__buttons">-->
                                      <!--<a rel="nofollow" class="b-pay__button b-pay__add2basket js-add2basket js-submit btn-primary" href="#"-->
                                         <!--title="В корзину">В корзину</a>-->
                                      <!--<a rel="nofollow" class="b-pay__button b-pay__inbasket js-inbasket btn-primary-darken"-->
                                         <!--href="/personal/cart/" title="В корзине">В корзине</a>-->
                                  <!--</span>-->
                                <!--</span>-->
                                <!--<input type="submit" name="submit" class="nonep" value=""/>-->
                              <!--</form>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;/noindex&ndash;&gt;-->
                          <!--</div>-->
                          <!--<div class="list-showcase__pay-mobile hidden-md hidden-lg">-->
                            <!--<a class="btn-primary" href="{{p.link}}">Подробнее</a>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /part main &ndash;&gt;-->

                        <!--&lt;!&ndash; part extended &ndash;&gt;-->
                        <!--<div class="list-showcase__part-extended">-->
                          <!--<div class="list-showcase__attributes">-->
                            <!--<div class="c-attributes view-buttons  js-attributes" data-view="buttons">-->
                              <!--&lt;!&ndash; prop &ndash;&gt;-->
                              <!--<div class="c-attributes__prop js-attributes__prop close" *ngIf="productHasOptions(p)" [ngClass]="getOptionsClass(p)">-->
                                <!--<span class="c-attributes__select js-attributes__select">&lt;!&ndash; name-current-value &ndash;&gt;-->
                                  <!--<span class="c-attributes__name-current-value">-->
                                    <!--<span class="c-attributes__name">{{p.currentOffer.offerOption.title}}: </span>-->
                                    <!--<span class="c-attributes__current-value js-attributes__curent-value">-->
                                      <!--<span class="c-attributes__current-value__pseudo-option">-->
                                        <!--<span class="c-attributes__value-pic js-attributes__set-value-pic"-->
                                          <!--style="background-image:url('/upload/uf/f5d/f5de333248c540c800face7a41d37b19.jpg');"-->
                                          <!--title="Коричневый"></span>-->
                                        <!--<span class="c-attributes__value js-attributes__set-value-text">{{p.currentOffer.optionValue}}</span>-->
                                        <!--<svg class="c-attributes__arrow svg-icon">-->
                                          <!--<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow-linear-down"></use>-->
                                        <!--</svg>-->
                                      <!--</span>-->
                                    <!--</span>-->
                                  <!--</span>-->
                                  <!--<span class="c-attributes__options js-attributes__options">-->
                                    <!--&lt;!&ndash;<span class="c-attributes__option js-attributes__option  selected" data-value="3">&ndash;&gt;-->
                                      <!--&lt;!&ndash;<span class="c-attributes__value c-attributes__option__value js-attributes__value-text">3</span>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</span>&ndash;&gt;-->
                                    <!--<span class="c-attributes__option js-attributes__option"-->
                                          <!--*ngFor="let offer of p.saleOffers"-->
                                          <!--(click)="setCurrentOffer(p, offer)" [ngClass]="getOfferClass(p, offer)">-->
                                      <!--<span class="c-attributes__value-pic js-attributes__value-pic"-->
                                        <!--[ngStyle]="getOptionButtonStyle(offer)" *ngIf="p.optionsAreImages"-->
                                        <!--title="{{offer.optionValue}}"></span>-->
                                      <!--<span class="c-attributes__value c-attributes__option__value js-attributes__value-text">{{offer.optionValue}}</span>-->
                                    <!--</span>-->
                                  <!--</span>-->
                                <!--</span>-->
                              <!--</div>&lt;!&ndash; /prop &ndash;&gt;-->
                            <!--</div>-->
                          <!--</div>-->
                          <!--<div class="list-showcase__preview-text">-->
                            <!--<div class="list-showcase__preview-text__text">-->
                              <!--{{p.shortDescription}}-->
                            <!--</div>-->
                            <!--<div class="list-showcase__preview-text__more">-->
                              <!--<a href="{{p.link}}" title="">Подробнее</a>-->
                            <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /part extended &ndash;&gt;-->
                      <!--</div>-->
                    <!--</div>&lt;!&ndash; /element &ndash;&gt;-->
                <!--&lt;!&ndash; element &ndash;&gt;-->
              <!--</div></div>&lt;!&ndash; showcase &ndash;&gt;-->
                  <!--<div class="list-gallery view-gallery row" id="view-gallery" *ngIf="view === 'GALLERY'">-->
                    <!--<div class="row no-gutter list-thead list-gallery__thead hidden-xs">-->
                      <!--<span class="col-xs-3 col-sm-2 col-md-2 col-lg-2">-->
                        <!--<span class="list-thead__tr">-->
                          <!--<span class="list-thead__td">Фото</span>-->
                        <!--</span>-->
                      <!--</span>-->
                      <!--<span class="col-xs-9 col-sm-10 col-md-10 col-lg-10">-->
                        <!--<span class="row">-->
                          <!--<span class="col-xs-12 col-sm-4 col-md-5 col-lg-5">-->
                            <!--<span class="list-thead__tr">-->
                              <!--<span class="list-thead__td list-gallery__thead__product">Товар</span>-->
                            <!--</span>-->
                          <!--</span>-->
                          <!--<span class="col-xs-12 col-sm-4 col-md-4 col-lg-4">-->
                            <!--<span class="list-thead__tr">-->
                              <!--<span class="list-thead__td">Цена</span>-->
                            <!--</span>-->
                          <!--</span>-->
                          <!--<span class=""></span>-->
                        <!--</span>-->
                      <!--</span>-->
                    <!--</div>-->
                    <!--<div class="js-element da2 list-element list-gallery__element" *ngFor="let p of products">-->
                      <!--<div class="list-gallery__inner js-element__shadow">-->
                        <!--<div class="row no-gutter">-->
                          <!--<div class="list-gallery__left-side col-xs-3 col-sm-2 col-md-2 col-lg-2">-->
                            <!--<div class="list-gallery__picture">-->
                              <!--<a href="{{p.link}}">-->
                                <!--<img class="js-list-picture js-lazy" src="{{p.mainImage.galleryImageLink}}" alt="{{p.altTitle}}" style="">-->
                              <!--</a>-->
                            <!--</div>-->
                          <!--</div>-->
                          <!--<div class="list-gallery__right-side col-xs-9 col-sm-10 col-md-10 col-lg-10">-->
                            <!--<div class="row">-->
                              <!--<div class="list-gallery__over-mix col-xs-12 col-sm-4 col-md-5 col-lg-5">-->
                                <!--&lt;!&ndash; mix &ndash;&gt;-->
                                <!--<div class="list-gallery__mix">-->
                                  <!--<div class="list-gallery__stickers hidden-xs">-->
                                    <!--<div class="c-stickers">-->
                                      <!--<span class="c-stickers__sticker c-stickers__da2" *ngIf="p.productOfDay">Товар дня</span>-->
                                      <!--<span class="c-stickers__sticker c-stickers__sticker-standart c-stickers__new" *ngIf="p.newProduct">Новинка</span>-->
                                      <!--<span class="c-stickers__sticker c-stickers__sticker-standart c-stickers__hit" *ngIf="p.hit">Хит</span>-->
                                      <!--<span class="c-stickers__sticker c-stickers__sticker-standart c-stickers__discount js-discount-value"-->
                                            <!--*ngIf="p.discountPrice">-->
                                        <!-- -<span class="js-discount-value">{{p.discount}}</span>%-->
                                      <!--</span>-->
                                    <!--</div>-->
                                  <!--</div>-->

                                  <!--<div class="list-gallery__name-rating-article">-->
                                    <!--<div class="list-gallery__name-rating">-->
                                      <!--<span class="list-gallery__name">-->
                                        <!--<a href="{{p.link}}">{{p.title}}</a>-->
                                      <!--</span>-->
                                      <!--<span class="list-gallery__rating hidden-xs"></span>-->
                                    <!--</div>-->
                                    <!--<div class="list-gallery__article hidden-xs hidden-sm">-->
                                      <!--<span class="c-article js-article js-article-invisible"><span class="c-article__title">Артикул:</span>-->
                                        <!--<span class="c-article__value js-article__value"></span>-->
                                      <!--</span>-->
                                    <!--</div>-->
                                  <!--</div>-->
                                  <!--<div class="list-gallery__compare-favorite hidden-xs">-->
                                  <!--<span class="list-gallery__compare">-->
                                <!--<a rel="nofollow" class="c-compare js-add2compare" href="/?AJAX_CALL=Y&amp;sorterchange=ajaxpages_main&amp action=ADD_TO_COMPARE_LIST&amp;id=117">-->
                                  <!--<svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4x-compare-small"></use></svg><span class="c-compare__title">Сравнить</span><span class="c-compare__title-in">В сравнении</span></a>-->
                              <!--</span>-->
                                    <!--<span class="list-gallery__favorite">-->
			<!--<a rel="nofollow" class="c-favorite js-add2favorite" href="/catalog/mebel_dlya_kabineta/kresla_office/kreslo_van_gog/"><svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4x-favorite-small"></use></svg><span class="c-favorite__title">В закладки</span><span class="c-favorite__title-in">В закладках</span></a>-->
		<!--</span>-->
                                  <!--</div>-->

                                <!--</div>-->
                              <!--</div>-->

                              <!--<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">-->
                                <!--<div class="list-gallery__prices">-->
                                  <!--<div class="c-prices js-prices view-list page-list product-multiple multyprice-no">-->
                                    <!--<span class="c-prices__price   js-prices__price js-prices__price-code_BASE" data-pricecode="BASE">-->
                                      <!--<span class="c-prices__name">Розничная цена:</span>-->
                                      <!--<span class="c-prices__value js-prices_pdv_BASE" *ngIf="!hasDiscount(p)">{{p.price}} руб.</span>-->
                                      <!--<span class="c-prices__value js-prices_pdv_BASE" *ngIf="hasDiscount(p)">{{p.discountPrice}} руб.</span>-->
                                    <!--</span>-->
                                  <!--</div>-->
                                <!--</div>-->
                              <!--</div>-->
                              <!--<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">-->
                                <!--<div class="list-gallery__more hidden-print">-->
                                  <!--<a class="btn-primary waves-effect" href="{{p.link}}">Подробнее</a>-->
                                <!--</div>-->
                              <!--</div>-->
                            <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
              <!--</div>-->
            </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /b-tab-component -> tabKRNcb1 -->
        <!-- /best.offers -->

        <!-- brands -->

        <div class="gallery-popup">
          <div class="nice-title">Фотогалерея</div>

          <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 gallery-popup__col_item">
              <div class="gallery-popup__item">
                <a data-fancybox="js-gallery-popup__tekstil-odezhda-obuv" class="gallery-popup__link js-gallery-item" href="/upload/iblock/00d/00dee86db14192661f2de5cecc783e13.jpg" data-caption="Текстиль, одежда, обувь">
                  <img class="gallery-popup__pic" src="/upload/iblock/15c/15c43d2b478867ad663e9e5e22ccb91b.jpg" data-src="/upload/iblock/15c/15c43d2b478867ad663e9e5e22ccb91b.jpg" alt="" title="">
                  <div class="gallery-popup__info">
                    <div class="gallery-popup__title">Текстиль, одежда, обувь</div>
                  </div>
                </a>
                <div class="hidden js-images">
                  <a data-fancybox="js-gallery-popup__tekstil-odezhda-obuv" href="/upload/iblock/947/9479c7eb21e66686fae5acd0df735ef9.jpg" title="Текстиль, одежда, обувь" data-open-mobile="true"></a>
                  <a data-fancybox="js-gallery-popup__tekstil-odezhda-obuv" href="/upload/iblock/1a8/1a8771251e862bc926879b33866d8cda.jpg" title="Текстиль, одежда, обувь" data-open-mobile="true"></a>
                  <a data-fancybox="js-gallery-popup__tekstil-odezhda-obuv" href="/upload/iblock/687/6876204d34b223a0f94e8d27ac3747e0.jpg" title="Текстиль, одежда, обувь" data-open-mobile="true"></a>
                  <a data-fancybox="js-gallery-popup__tekstil-odezhda-obuv" href="/upload/iblock/7c3/7c3adfc2c600274a9f8825d98b610df1.jpg" title="Текстиль, одежда, обувь" data-open-mobile="true"></a>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 gallery-popup__col_item">
              <div class="gallery-popup__item">
                <a data-fancybox="js-gallery-popup__otdelochnye-materialy" class="gallery-popup__link js-gallery-item" href="/upload/iblock/8f8/8f8e1c1f8b79d2ed9f77bc1da73d099d.jpg" data-caption="Отделочные материалы">
                  <img class="gallery-popup__pic" src="/upload/iblock/7ef/7ef900648aaf71b0b3dca4a74bd7ba7c.jpg" data-src="/upload/iblock/7ef/7ef900648aaf71b0b3dca4a74bd7ba7c.jpg" alt="" title="">
                  <div class="gallery-popup__info">
                    <div class="gallery-popup__title">Отделочные материалы</div>
                  </div>
                </a>
                <div class="hidden js-images">
                  <a data-fancybox="js-gallery-popup__otdelochnye-materialy" href="/upload/iblock/a15/a15c0638c9be7e5afe0424fe2f474425.JPG" title="Отделочные материалы" data-open-mobile="true"></a>
                  <a data-fancybox="js-gallery-popup__otdelochnye-materialy" href="/upload/iblock/e74/e744dbf09f0ff223523638509544cc6d.jpg" title="Отделочные материалы" data-open-mobile="true"></a>
                  <a data-fancybox="js-gallery-popup__otdelochnye-materialy" href="/upload/iblock/69c/69c32a74abdfa0cdf5d0ae5da400afeb.jpg" title="Отделочные материалы" data-open-mobile="true"></a>
                  <a data-fancybox="js-gallery-popup__otdelochnye-materialy" href="/upload/iblock/4e8/4e8800866250b05746b1b10b87e0cb13.JPG" title="Отделочные материалы" data-open-mobile="true"></a>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 gallery-popup__col_item">
              <div class="gallery-popup__item">
                <a data-fancybox="js-gallery-popup__kukhnya" class="gallery-popup__link js-gallery-item" href="/upload/iblock/63c/63c8273447a5f0dcf8a41f7272665fb6.jpg" data-caption="Кухня">
                  <img class="gallery-popup__pic" src="/upload/iblock/4b9/4b9af552b09576242e37ebb57340b963.jpg" data-src="/upload/iblock/4b9/4b9af552b09576242e37ebb57340b963.jpg" alt="" title="">
                  <div class="gallery-popup__info">
                    <div class="gallery-popup__title">Кухня</div>
                  </div>
                </a>
                <div class="hidden js-images">
                  <a data-fancybox="js-gallery-popup__kukhnya" href="/upload/iblock/71d/71d467487e052574426d9a4fcfc36c57.jpg" title="Кухня" data-open-mobile="true"></a>
                  <a data-fancybox="js-gallery-popup__kukhnya" href="/upload/iblock/61a/61a5aa1208903de7b30ef919dcdf8b33.jpg" title="Кухня" data-open-mobile="true"></a>
                  <a data-fancybox="js-gallery-popup__kukhnya" href="/upload/iblock/1ed/1ed69722d3353c451745aeb79fc9ed5f.jpg" title="Кухня" data-open-mobile="true"></a>
                  <a data-fancybox="js-gallery-popup__kukhnya" href="/upload/iblock/97f/97f07cdc3e66b2fbc04a6fc28cd1e9c8.jpg" title="Кухня" data-open-mobile="true"></a>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 gallery-popup__col_item">
              <div class="gallery-popup__item">
                <a data-fancybox="js-gallery-popup__gostinye" class="gallery-popup__link js-gallery-item" href="/upload/iblock/8d3/8d352faa5e98857bdd0e063295e7e17b.jpg" data-caption="Гостиные">
                  <img class="gallery-popup__pic" src="/upload/iblock/a8b/a8bdceb954bc160b3ae4b1f52302bbd3.jpg" data-src="/upload/iblock/a8b/a8bdceb954bc160b3ae4b1f52302bbd3.jpg" alt="" title="">
                  <div class="gallery-popup__info">
                    <div class="gallery-popup__title">Гостиные</div>
                  </div>
                </a>
                <div class="hidden js-images">
                  <a data-fancybox="js-gallery-popup__gostinye" href="/upload/iblock/b96/b9681fa29f873184e08981b5b4005344.jpg" title="Гостиные" data-open-mobile="true"></a>
                  <a data-fancybox="js-gallery-popup__gostinye" href="/upload/iblock/a9d/a9d52d9909f0136777b0698ddb598b35.jpg" title="Гостиные" data-open-mobile="true"></a>
                  <a data-fancybox="js-gallery-popup__gostinye" href="/upload/iblock/994/994623eb3455892621d3c4b9cf34a63b.jpg" title="Гостиные" data-open-mobile="true"></a>
                  <a data-fancybox="js-gallery-popup__gostinye" href="/upload/iblock/e9b/e9be458fc4dc4c138a63b66169b47346.jpg" title="Гостиные" data-open-mobile="true"></a>
                  <a data-fancybox="js-gallery-popup__gostinye" href="/upload/iblock/c0e/c0e98828757e8e1e8f5d0cfcf81c815f.jpg" title="Гостиные" data-open-mobile="true"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /brands -->

        <!-- brands -->
        <div class="brandslistimgowl1 mainstyles" data-change-speed="2000" data-change-delay="8000" >
          <div class="title">
            <h3>
              <a href="/brands/">Бренды</a>
            </h3>
          </div>
          <div class="owl-carousel">
            <div class="item" *ngFor="let f of factories">
              <div class="in">
                <div class="pic">
                  <a class="brandslistimgowl1__block" href="{{f.link}}">
                    <img class="" src="{{f.image.baseImageLink}}" data-src="{{f.image.baseImageLink}}" alt="{{f.title}}" title="{{f.title}}" />
                  </a>
                </div>
              </div>
            </div>
        <!-- shops -->

        <div class="shops2">

          <div class="nice-title">Наши магазины</div>

          <div class="shops2-panel">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 js-search_city">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Название или адрес объекта">
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 js-shops">
                <div class="shops2-panel__filters js-filter">
                  <div class="btn-primary js-btn" data-filter="14420b9931ddbd02ee031f9394b274f9">Склад</div>
                  <div class="btn-primary js-btn" data-filter="7e0edd584d3a140073e38ab8b52d08f7">Магазин</div>
                  <div class="btn-primary active js-btn"  data-filter="">Все</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12  col-md-3 col-lg-3">
              <div class="shops2__list js-shops_list">
                <div
                  class="shops2-item js-item" data-coords="55.683097,37.549175" data-id="175" data-type="7e0edd584d3a140073e38ab8b52d08f7" >
                  <div class="shops2-item__name js-item__name">Торговый центр Триумфальный</div>
                  <div class="shops2-item__descr js-item__descr">Москва, ул. Вавилова, 66<br />
                    тел. &#43;7 &#40;495&#41; 978-30-08<br />
                    10:00-21:00</div>
                </div>
                <div
                  class="shops2-item js-item" data-coords="55.704925,37.764734" data-id="174" data-type="7e0edd584d3a140073e38ab8b52d08f7" >
                  <div class="shops2-item__name js-item__name">Торговый центр Ареал</div>
                  <div class="shops2-item__descr js-item__descr">Москва, ул. Маршала Чуйкова, стр. 1, вл. 1<br />
                    тел. &#43;7 &#40;495&#41; 926-34-78<br />
                    10:00-22:00</div>
                </div>
                <div
                  class="shops2-item js-item" data-coords="55.789608,37.752481" data-id="173" data-type="7e0edd584d3a140073e38ab8b52d08f7" >
                  <div class="shops2-item__name js-item__name">Торговый центр Ast</div>
                  <div class="shops2-item__descr js-item__descr">105187, Москва, Измайловское ш., 71а<br />
                    тел. &#43;7 &#40;495&#41; 987-32-27<br />
                    10:00-22:00</div>
                </div>
                <div
                  class="shops2-item js-item" data-coords="53.183985505,50.0949345449" data-id="172" data-type="14420b9931ddbd02ee031f9394b274f9" >
                  <div class="shops2-item__name js-item__name">Склад в Самаре</div>
                  <div class="shops2-item__descr js-item__descr">Самара, ул. Пограничника, до. 8
                    тел. +7 (495) 888-88-88
                    10:00-18:00</div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 ">
              <div class="map"><div id="rsGoproShops2"></div></div>
            </div>
          </div>
        </div>

        <!-- /shops -->


      </div>
    </div>
  </div><!-- /content -->
</div><!-- /body -->

<app-footer></app-footer>
